<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>HLTV Downloader</title>

    <meta name="description" content="A simple application for downloading and displaying demos">
    <meta name="keywords" content="sloenthran, hltv">
    <meta name="author" content="ResponsiveWebInc & Sloenthran">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="./view/css/bootstrap.min.css" rel="stylesheet">
    <link href="./view/css/font-awesome.min.css" rel="stylesheet">
    <link href="./view/css/style-2.css" rel="stylesheet">

</head>

<body>

    <br><br><br>

    <div class="ui-2">
        <div class="container">
            <!-- UI content -->
            <div class="block-content">
                <!-- UI head -->
                <div class="ui-head bg-lblue">
                    <a href="{back}"><i class="fa fa-reply pull-left"></i></a>
                    {header}
                    <a href="https://sloenthran.pl" target="_blank"><i class="fa fa-paw pull-right"></i></a>
                    <div class="clearfix"></div>
                </div>
                <ul class="list-unstyled">
                    {menu}
                </ul>
            </div>
        </div>
    </div>

    <br><br><br>

    <script src="./view/js/jquery.js"></script>
    <script src="./view/js/bootstrap.min.js"></script>
    <script src="./view/js/respond.min.js"></script>
    <script src="./view/js/html5shiv.js"></script>

</body>
</html>